<div class="container">

    <div class="contact-info">
        <h4 class="section-title">Contact Information</h4>

        <div class="row my-4">
            <div class="col">
            
                <h6>Danger Alain Galindo Mera</h6>    
                <h6>alaymera&#64;gmail.com</h6>
                <h6>+57 3116829341</h6>
                
            </div>
    
        </div>
    </div>
    


    <div>
        
        <h4 class="section-title">Social Media</h4>

        <div class="social">

            <a href="#" target="_blank">
                <img src="social/linkedin.png" alt="linkedin" style="width:30px; height:auto">
            </a>

            <a href="https://github.com/DangerUVP" target="_blank">
                <img src="social/github.png" alt="github" style="width:30px; height:auto">
            </a>

            <a href="#" target="_blank">
                <img src="social/youtube.png" alt="youtube" style="width:30px; height:auto">
            </a>

            
        </div>

        <div class="social">
            <a href="#" target="_blank">
                <img src="social/facebook.png" alt="facebook" style="width:40px; height:auto">
            </a>

            <a href="#" target="_blank">
                <img src="social/ig.png" alt="instagram" style="width:40px; height:auto">
            </a>

            <a href="#" target="_blank">
                <img src="social/x.png" alt="x" style="width:40px; height:auto">
            </a>
        </div>

    </div>
    
</div>
