
<div class="container">
    <h2>Contact Information</h2>
    
    <div class="row my-4">
        <div class="col-3">
        
            <label for="">Danger Alain Galindo Mera</label>    
            <label for="">alaymera&#64;gmail.com</label>
            <label for="">+57 3116829341</label>

        </div>

    </div>

    <div class="social">
        
            <a href="#" target="_blank">
                <img src="social/linkedin.png" alt="Facebook" style="width:40px; height:auto">
            </a>

            <a href="#" target="_blank">
                <img src="social/github.png" alt="Facebook" style="width:40px; height:auto">
            </a>

            <a href="#" target="_blank">
                <img src="social/youtube.png" alt="Facebook" style="width:40px; height:auto">
            </a>
    </div>
    
</div>
