
<div class="container">
    <h2 class="section-title">Contact Information</h2>
    
    <div class="row my-4">
        <div class="col-3">
        
            <h6>Danger Alain Galindo Mera</h6>    
            <h6>alaymera&#64;gmail.com</h6>
            <h6>+57 3116829341</h6>
            
        </div>

    </div>

    <div class="social">
        
            <a href="#" target="_blank">
                <img src="social/linkedin.png" alt="Facebook" style="width:30px; height:auto">
            </a>

            <a href="#" target="_blank">
                <img src="social/github.png" alt="Facebook" style="width:30px; height:auto">
            </a>

            <a href="#" target="_blank">
                <img src="social/youtube.png" alt="Facebook" style="width:30px; height:auto">
            </a>
    </div>
    
</div>
