.social{
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding-bottom: 20px;
}

.social a:hover{
    transform: translateY(4px);
}


.container{
    display: flex;
    padding: 10px;
    justify-content: space-around;
   
}
