

<div class="content-menu align-content-center ">


    <div class="conten-name">
      <h1 class="title-danger" [routerLink]="['home']">Danger</h1>
      @for (letter of titleLetters; track $index) {
  
        @if (letter == " ") {
          <span class="danger">&nbsp;</span>
        }@else {
      
          <h6 class="danger">{{letter}}</h6>
        }
      }
    </div>
  
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['projects']">Projects</a>
        </li>
    
      </ul>
  
  </div>