
<div class="container">

    <h3>Skills</h3>
    
        
    <div class="row my-3">

        <div class="col-4">
             <div class="cont">
                Java
             </div>
        </div>

        <div class="col-2">
            <div class="cont">
                Python
             </div>
        </div>

        <div class="col-3">
            <div class="cont">
                Javascript
             </div>
        </div>

        <div class="col-2">
            <div class="cont">
                Node
             </div>
        </div>

    </div>

    <div class="row my-4 ">
        <div class="col-3 ">
            <div class="cont">
               Angular
             </div>
        </div>

        <div class="col-2">
            <div class="cont">
                Spring Boot
             </div>

        </div>

        <div class="col-4">
            <div class="cont">
                Github
             </div>
        </div>

        <div class="col-2">
            <div class="cont">
                Scrum
             </div>
        </div>
    </div>


</div>