<div class="container">

    <h2 class="section-title">Skills</h2>

    <div class="row skill-cont ">

        <div class="col">

            <h5  class="section-subtitle">Backend</h5>

            <div class="cont">
                 <img class="skills-logo" src="skills/java.png" alt="" srcset="">
                 Java
            </div>

            <div class="cont">
                <img class="skills-logo" src="skills/python.png" alt="" srcset="">
                Python
            </div>

            <div class="cont">
                <img class="skills-logo" src="skills/node.png" alt="" srcset="">

                Node Js
            </div>

            <div class="cont">
                <img class="skills-logo" src="skills/sql.png" alt="" srcset="">

                Mysql
            </div>

        </div>



        <div class="col">

            <h5  class="section-subtitle">Frontend</h5>

            <div class="cont">
                <img class="skills-logo" src="skills/html.png" alt="" srcset="">

                Html
            </div>

            <div class="cont">
                <img class="skills-logo" src="skills/css.png" alt="" srcset="">

                Css
            </div>

            <div class="cont">
                <img class="skills-logo" src="skills/js.png" alt="" srcset="">

                Javascript
            </div>

        </div>

        <div class="col">

            <h5 class="section-subtitle">Frameworks</h5>

            <div class="cont">
                <img class="skills-logo" src="skills/spring.png" alt="" srcset="">

                Spring Boot
            </div>

            <div class="cont">
                <img class="skills-logo" src="skills/angular.png" alt="" srcset="">

                Angular
            </div>

            <div class="cont">
                <img class="skills-logo" src="skills/bootstrap.png" alt="" srcset="">

                Bootstrap 
            </div>

        </div>

        <div class="col">

            <h5 class="section-subtitle">Collaborative</h5>

            <div class="cont">
                <img class="skills-logo" src="skills/github.png" alt="" srcset="">

                Github
            </div>

            <div class="cont">
                <img class="skills-logo" src="skills/scrum.png" alt="" srcset="">

                Scrum
            </div>

        </div>


    </div>

</div>