.seccion{
    display: flex;
    justify-content: space-between;
}

img{
    width: 90%;
    border-radius: 30%;
}

.content{
    /* background-color: red; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


p{
}
.recent-roles{
    /* background-color: cyan; */
    width: 70%;
}

.upcoming-projects{
    width: 70%;

}